.App {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

.list-data {
  display: flex;
  max-width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 600px;
  overflow: scroll;
}

.main-wrapper {
  text-align: center;
  padding: 50px 0;
}
.search-bar {
  margin-bottom: 24px;
}
.inner-div {
  width: 48%;
}

button {
  margin-left: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #8af3ff;
  border: none;
  color: #0004a2;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #064e56;
}

@media only screen and (max-width: 767px){
  .main-wrapper {
    padding: 0;
  }
  .list-data {
    max-width: 300px;
  }
}